# Rust
/target
Cargo.lock

# Node
node_modules/
dist/
dist-ssr/
*.local

# Soroban / Stellar
.soroban/
.stellar/

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
