@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #020710;
    @apply text-slate-300 font-sans antialiased min-h-screen;
  }
}

@layer utilities {
  .glow-electric {
    box-shadow: 0 0 10px rgba(0, 240, 255, 0.5), 0 0 20px rgba(0, 240, 255, 0.3);
  }
  .glow-toxic {
    box-shadow: 0 0 10px rgba(57, 255, 20, 0.5), 0 0 20px rgba(57, 255, 20, 0.3);
  }
}
